.v-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container {
    display: flex;
}

.flex-expand-simple {
    flex-grow: 1;
}

.app-border {
    border: 3px solid #dedede;
    border-radius: 5px;
}

.full-height-main{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.almost-v-centered {
    padding-top: 20vh;
}

.border {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}