.v-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** Flex Stuff START ***/

.flex-container {
    display: flex;
}

.direction-col {
    flex-direction: column;
}

.flex-col {
    /* Combines .flex-container and .direction-col */
    display: flex;
    flex-direction: column;
}

.flex-expand-simple {
    flex-grow: 1;
}

.flex-grow-scroll {
    height: 0px;
    overflow-y: auto;
}

/*** Flex Stuff END ***/

.app-border {
    border: 3px solid #dedede;
    border-radius: 5px;
}

.full-height-main{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.almost-v-centered {
    padding-top: 20vh;
}

.border {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.full-height {
    height: 100vh;
} 

/*** PADDING START ***/

.padding-std {
    padding: 16px;
}

.padding-sm {
    padding: 8px;
}

/*** PADDING START ***/